
.foot{
    background-color: white;
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 5px 0px #777777;
    border-radius: 2px;
  }