.footer{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer button{
    cursor: pointer;
    border: none;
    background: none;
}